<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Banking App</title>
    <link rel="stylesheet" href="/css/fragments"/>
</head>
<nav>

    <ul>
        <div class="left-buttons">
            <li><a href ="/"><img src="/img/logo.jpg" alt="Logo" width="50" height="50"></a></li>
            <form action="/change-language" method="get">
                <select name="lang" id="lang">
                    <option value="en">English</option>
                    <option value="bg">Bulgarian</option>
                    <option value="de">German</option>
                </select>
                <button type="submit">Change Language</button>
            </form>
        </div>
        <div class="right-buttons">
            <li>
                <form>
                    <a class="nav-button" th:href="@{/home}" th:text="#{nav_bar_home}">Profile</a>
                </form>
            </li>
            <li>
                <form>
                    <a  class="nav-button" th:href="@{/transaction}" th:text="#{nav_bar_transaction}" > Make Transaction</a>
                </form>
            </li>
            <li>
                <form>
                    <a  class="nav-button" th:href="@{/users/submit-loan}" th:text="#{nav_bar_take_loan}" > Take Loan</a>
                </form>
            </li>
            <li>
                <form>
                    <a  class="nav-button" th:href="@{/users/register}" th:text="#{nav_bar_register}">Register </a>
                </form>
            </li>
            <li>
                <form>
                    <a  class="nav-button" th:href="@{/users/login}" th:text="#{nav_bar_login}"> Login</a>
                </form>
            </li>
            <li>
                <form th:action="@{/users/logout}" th:method="POST">
                    <button type="submit" class="nav-button" th:text="#{nav_bar_logout}">Logout</button>
                </form>
            </li>
        </div>
    </ul>
</nav>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3 th:text="#{footer_about_us}">About Us</h3>
            <ul class="social-media">
                <li><a href="/" th:text="#{footer_our_story}">Our Story</a></li>
                <li><a href="/" th:text="#{footer_about_us}" >Careers</a></li>
                <li><a href="/" th:text="#{footer_press}">Press</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 th:text="#{footer_customer_service}">Customer Service</h3>
            <ul class="social-media">
                <li><a href="/" th:text="#{footer_contact_us}">Contact Us</a></li>
                <li><a href="/FAQ" th:text="#{footer_faq}">FAQ</a></li>
                <li><a href="/" th:text="#{footer_support_center}">Support Center</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 th:text="#{footer_legal}">Legal</h3>
            <ul class="social-media">
                <li><a href="/" th:text="#{footer_privacy_policy}">Privacy Policy</a></li>
                <li><a href="/" th:text="#{footer_terms_of_service}">Terms of Service</a></li>
                <li><a href="/" th:text="#{footer_security}">Security</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 th:text="#{footer_connect_with_us}">Connect with Us</h3>
            <ul class="social-media">
                <li><a href="/"><img src="/img/facebookWhite.png" alt="Facebook"></a></li>
                <li><a href="/"><img src="twitter-icon.png" alt="Twitter"></a></li>
                <li><a href="/"><img src="linkedin-icon.png" alt="LinkedIn"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 UB Bank. All rights reserved.</p>
    </div>
</footer>
</body>
</html>