<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Home </title>
    <link rel="stylesheet" href="/css/administratorHome.css">
</head>
<body>
<header>
    <nav th:replace="~{fragments/commons::nav}"></nav>
</header>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Administrator Home</span></h1>
    <hr class="hr-3 w-25 white"/>

    <h2 class="text-center mt-2" >Welcome, administrator for <span th:text="${admin.getUsername()}"></span></h2>
    <section class="admin-section">
        <h2>Transactions</h2>
        <table class="transaction-table">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.maker.getFullName()}">Test testov</td>
                <td th:text="${transaction.receiver.getFullName()}">Kaloyan Ivanov</td>
                <td th:text="${transaction.amount}">1000</td>
                <td th:text="${transaction.currency}">USD</td>
                <td>
                    <form th:action="@{/admin/transactions/approve/{id}(id=${transaction.id})}" method="post">
                        <button class="btn-approve" type="submit">Approve</button>
                    </form>
                    <form th:action="@{/admin/transactions/reject/{id}(id=${transaction.id})}" method="post">
                        <button class="btn-reject" type="submit">Reject</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Loans</h2>
        <table class="loan-table">
            <thead>
            <tr>
                <th>Loan ID</th>
                <th>Requester</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Return Amount</th>
                <th>Monthly Payment</th>
                <th>Term (Months)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loan : ${loans}">
                <td th:text="${loan.id}">12345</td>
                <td th:text="${loan.getRequester().getFullName()}">Ivan Ivanov</td>
                <td th:text="${loan.amount}">50000</td>
                <td th:text="${loan.date}">2024-07-21</td>
                <td th:text="${loan.returnAmount}">52500</td>
                <td th:text="${loan.monthlyPayment}">8750</td>
                <td th:text="${loan.term}">6</td>
                <td>
                    <button class="btn-approve">Approve</button>
                    <button class="btn-reject">Reject</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>