<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav th:replace="~{fragments/commons::nav}"></nav>
<h1 th:text="#{greeting}">Default Greeting</h1>
<article class="first_section">
    <div class="text-box">
        <h2><a href="/">UB Bank</a></h2>
        <p th:text="#{ub_summary}">
            UB is here to change the perception of banks as malevolent entities with hidden fees and tricky practices. Our mission is to demonstrate transparency and trustworthiness, showing that banking can be fair and straightforward.
        </p>
    </div>
    <div class="image-container">
        <img src="/img/banking experience.jpg" alt="Bank" width="500" height="600">
        <div class="image-text">
            <p>Banking experience that changes lives</p>
        </div>
    </div>
</article>

<article class="second_section">
    <div class="image-container">
        <img src="/img/Jane.jpg" alt="Bank" width="500" height="600">
        <div class="image-text">
            <p>Our Customers stories</p>
        </div>
    </div>
    <div class="text-box">
        <h2><a href="/" th:text="#{meet_customer}">Meet Jane</a></h2>
        <p>Jane, initially skeptical about banks, had her perception changed by UB Bank. With Maria's help, she secured a favorable loan and received exceptional support for her bakery. The bank's transparency and user-friendly services restored Jane's faith in banking, leading her to recommend UB Bank to others
        </p>
    </div>

</article>

<section>
    <p class="middle-ground">Current events</p>
    <ul>
        <li class="postcard">
            <div class="postcard-content">
                <img src="/img/elections.jpg" alt="/" width="250" height="200">
                <div class="postcard-text">
                    <h2>US election</h2>
                    <p>Insights on the 2024 U.S. general election, including potential outcomes, policy agendas, and investment implications, to help investors navigate this election cycle in their portfolios.</p>
                </div>
                <button class="postcard-button">Read more</button>
            </div>
        <li class="postcard">
            <div class="postcard-content">
                <img src="/img/personal_banking.jpg" alt="/" width="250" height="200">
                <div class="postcard-text">
                    <h2>Investments</h2>
                    <p>Insights on the 2024 U.S. general election, including potential outcomes, policy agendas, and investment implications, to help investors navigate this election cycle in their portfolios.</p>
                </div>
                <button class="postcard-button">Read more</button>
            </div>
        </li>
        <li class="postcard">
            <div class="postcard-content">
                <img src="/img/payment.jpg" alt="/" width="250" height="200">
                <div class="postcard-text">
                    <h2>Payments</h2>
                    <p>Insights on the 2024 U.S. general election, including potential outcomes, policy agendas, and investment implications, to help investors navigate this election cycle in their portfolios.</p>
                </div>
                <button class="postcard-button">Read more</button>
            </div>
        </li>
        </li>
    </ul>
</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>