<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Transaction</title>
    <link rel="stylesheet" href="/css/makeTransaction.css">
</head>
<body>
<header>
    <nav th:replace="~{fragments/commons::nav}"></nav>
</header>


<main>
    <section class="transaction-form-container">
        <h1>Make a Transaction</h1>
        <form class="transaction-form"
              th:method="Post"
              th:action="@{/transaction}"
              th:object="${transaction}"
        >
            <label for="currency">Currency:</label>
            <select th:field="*{currency}"
                    id="currency"
                    th:errorclass="'is-invalid alert-danger'"
                    name="currency"
                    required>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="BGN">BGN</option>
                <option value="JPY">JPY</option>
            </select>
            <small class="invalid-feedback text-danger">Currency error message</small>

            <label for="amountBase">Amount (Base Currency):</label>
            <input th:field = "*{amountBase}"
                   type="number"
                   id="amountBase"
                   name="amountBase"
                   min="0"
                   th:errorclass="'is-invalid alert-danger'"
                   max="5000" required>
            <small class="invalid-feedback text-danger">Amount error message</small>

            <label for="accountId">Account Number:</label>
            <input th:field = "*{cardNumber}"
                   type="text"
                   id="accountId"
                   name="accountId"
                   th:errorclass="'is-invalid alert-danger'"
                   required>
            <small class="invalid-feedback text-danger">Account Number error message</small>

            <label for="accountHolderName">Account Holder Name:</label>
            <input th:field = "*{accountHolderName}"
                   type="text"
                   id="accountHolderName"
                   name="accountHolderName"
                   th:errorclass="'is-invalid alert-danger'"
                   required>
            <small class="invalid-feedback text-danger">Account Holder Name error message</small>

            <label for="pin">PIN:</label>
            <input th:field="*{pin}"
                   type="password"
                   id="pin"
                   name="pin"
                   pattern="\d{4}"
                   maxlength="4"
                   th:errorclass="'is-invalid alert-danger'"
                   required>
            <small class="invalid-feedback text-danger">PIN must be a 4-digit number</small>


            <label for="description">Description:</label>
            <textarea th:field = "*{description}"
                      id="description"
                      name="description"
                      th:errorclass="'is-invalid alert-danger'"
                      required></textarea>
            <small class="invalid-feedback text-danger">Please describe the transaction</small>

            <button type="submit">Submit</button>
        </form>
    </section>

</main>

+

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>