<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/userHome.css">
</head>
<body>
<header>
    <nav th:replace="~{fragments/commons::nav}"></nav>
</header>

<main>
    <h1 class="welcome-message">Welcome, <span th:text="${user.getFullName()}"></span></h1>

    <div class="wrapper">
    <section class="account-info">
        <h2>Account Information</h2>
        <p>Account Number: <span th:text="${account.getAccountNumber()}"></span> - Currency: <span th:text="${account.getCurrency()}"></span></p>
        <p>Balance: <span th:text="${#numbers.formatDecimal(account.getBalance(), 1, 'COMMA', 2, 'POINT')}"></span></p>
        <img src="account-card.jpg" alt="Account Card" class="account-card-image">
    </section>
    <section class="account-info">
        <h2>Card</h2>
        <p>Card Number: <span th:text="${physicalCard.getCardNumber()}"></span> - Currency: <span th:text="${physicalCard.getCurrency()}"></span></p>
        <p>Balance: <span th:text="${#numbers.formatDecimal(physicalCard.getBalance(), 1, 'COMMA', 2, 'POINT')}"></span></p>
        <img src="account-card.jpg" alt="Account Card" class="account-card-image">
    </section>
    <section class="account-info">
        <h2>Virtual Card</h2>
        <p>Virtual Card Number: <span th:text="${virtualCard.getCardNumber()}"></span> - Currency: <span th:text="${virtualCard.getCurrency()}"></span></p>
        <p>Balance: <span th:text="${#numbers.formatDecimal(virtualCard.getBalance(), 1, 'COMMA', 2, 'POINT')}"></span></p>
        <img src="account-card.jpg" alt="Account Card" class="account-card-image">
    </section>

    <section class="transactions-filter">
        <label for="filter">Show transactions for:</label>
        <select id="filter">
            <option value="week">Past Week</option>
            <option value="month">Past Month</option>
            <option value="all">All Time</option>
        </select>
    </section>

    </div>
    <section class="transactions-history">
        <h2>Transaction History</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.getDate()}"></td>
                <td th:text="${transaction.getDescription()}"></td>
                <td>
                    <span th:text="${transaction.sign}"></span>
                    <span th:text="${transaction.amount}"></span>
                    <span th:text="${transaction.getCurrency()}"></span>
                </td>
                <td th:text="${transaction.getStatus()}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="loans-history">
        <h2>Loans History</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Loan ID</th>
                <th>Amount</th>
                <th>Rate</th>
                <th>Term</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loan : ${loans}">
                <td th:text="${loan.date}"></td>
                <td th:text="${loan.id}"></td>
                <td th:text="${loan.amount}"></td>
                <td th:text="${loan.rate}"></td>
                <td th:text="${loan.term}"></td>
                <td th:text="${loan.status}"></td>
                <td>
                    <form th:action="@{/users/loans/send/{id}(id=${loan.id})}" th:method="post" class="action-form">
                        <button type="submit" class="btn btn-send">Send</button>
                    </form>
                    <form th:action="@{/users/loans/remove/{id}(id=${loan.id})}" th:method="post" class="action-form">
                        <button type="submit" class="btn btn-remove">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>